*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
ul,
ol,
li,
figure {
    margin: 0;
    padding:0;
}