:root {
    --Gradient-2: linear-gradient(180deg, rgba(222, 237, 255, 0.60) 0%, rgba(166, 204, 250, 0.50) 100%);
    --Gradient: linear-gradient(180deg, rgba(10, 34, 64, 0.10) 0%, rgba(10, 34, 64, 1) 100%);
    --header-color: #000;
    --text-color: #FFF;
    --price-color: #FF4B77;
    --currency-color: #999999;
    --bg-button-color: #F91155;
    --bg-image: url(../svg/icon-discount.svg);
    --bg-button-psevdo: #D8003F;
    --text-button-psevdo: #F9637C;
    --link-active:rgba(255, 255, 255, 0.50);
}